.nav{
	/*position: absolute;
	top: 0;
	background: #ccc;*/

}
/* .shadow-header{} */

.nav__bar{
	height: 50px;
	position: fixed;
    z-index: 100;
    width: 100%;
    padding: 5px;
	background: $grey;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);

}

.bar__item{
	margin-right:20px;
	margin-left:20px;
	height: 45px;
	display: inline-block;
	padding-top: 5px;
	cursor: pointer;

	.bar__tag{
		display: inline;
		width: 80px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.nav__bar--left{
	//margin-left: 20px;
	img{
		width: 22px;
		height: 22px;
	}
}
.nav__bar--logo{
	position: absolute;
	top:0;
	left: 45%;
	img{
		height: 40px;
		width: 80px
	}
}


.nav__bar--right{
	float: right;
	img{
		width: 22px;
		height: 22px
	}
}
.nav__bar--right:hover{

}

.nav__side{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: $grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav__item{
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	align-items:center;
	width: 200px;
	height: 40px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: $grey_light;
	transition: 0.5s;
	text-align: right;
	text-decoration: none;

}
.nav__icon{
	float: left;
	height:30px;
}
.nav__item:hover {
	background-color: $yellow;
	transition: 0.5s;

}

.nav__left{
    left: 0;
}
.nav__right{
    right: 0;
}





@media (max-width: 550px){
	.bar__item {
		margin-right: 0px;
		margin-left: 0px;
	}

	.nav__bar--logo{
		position: absolute;
		transform: scale(0.8);
		left: 40%;
		img{
			height: 40px;
			width: 80px
		}
	}
}
@media (max-width: 450px){
	.nav__bar--logo{
		position: absolute;
		transform: scale(0.6);
		left: 35%;
		img{
			height: 40px;
			width: 80px
		}
	}
}


